.first-highlight-wrapper {
	position: relative;
	height: 600px;
    margin-bottom: 1%;
    margin-top: 50px;
}
.first-highlight-wrapper ul {
    color: white;
}
.video-text{
    color: white;
    font-weight: 700;
   

}
.white-img{
     margin-top: 50%;
     width: 30%;
     margin-bottom: 3%;

}
.white-button{
    border-radius: 18px;
    background-color: #fff;
    color: black;
    font-weight: 500;
}
.text-white{
    color: white;
}
.video-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-background video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text-container {
	text-align: center;
	z-index: 2;
}



.video-icon {
	font-size: 24px;
	color: white;
	margin: 0 5px;
	cursor: pointer;
}

.video-overlay {
  position: fixed;
  top: 70px; 
  right: 20px; 
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.5); */
  cursor: pointer;
}

.play-pause-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}
